services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://host.docker.internal:27017/carbon_platform
      - JWT_SECRET=a_very_secure_and_random_secret_string_for_jwt
      - AI_SERVICE_URL=http://ai_service:8000
      - PORT=8080
    depends_on:
      - ai_service
    restart: always

  ai_service:
    build:
      context: ./ai_service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
