services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/carbon_platform
      - JWT_SECRET=a_very_secure_and_random_secret_string_for_jwt
      - AI_SERVICE_URL=http://ai_service:8000
      - PORT=8080
    depends_on:
      - ai_service
      - mongodb # 添加对 mongodb 服务的依赖
    restart: always

  mongodb: # 添加 mongodb 服务
    image: docker.m.daocloud.io/library/mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  ai_service:
    build:
      context: ./ai_service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes: # 定义数据卷
  mongodb_data:
